@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cult.ure.Club</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Compiled and minified jQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
    <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Your Favorite Movies", "Faves", "Movies")</li>
                    <li>
                        <a href="javascript:void(0)" class="LogOff">Log Off</a>
                        @using (Html.BeginForm("LogOff", "Account",
                            FormMethod.Post, new { @class = "hidden" })) { }
                    </li>
                    <li>
                       <a href="javascript:void(0)" class="Delete">Delete Account</a>
                        @using (Html.BeginForm("Delete", "Account",
                             FormMethod.Post, new { @class = "hidden" })) { }
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                }            
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="javascript:void(0)" class="LogOff">Log Off</a>
                        @using (Html.BeginForm("LogOff", "Account",
                            FormMethod.Post, new { @class = "hidden" })) { }
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="Delete">Delete Account</a>
                        @using (Html.BeginForm("Delete", "Account",
                            FormMethod.Post, new { @class = "hidden" })) { }
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                }
            </ul>
         <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    
    <script type="text/javascript">
       $(document).ready(function(){
           $('.LogOff').click(function () {
             $(this).next()[0].submit();
          });
          $('.Delete').click(function () {
              $(this).next[0].submit();
          });
       });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
