@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cult.ure.Club</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Hello @User.Identity.Name!</p>

                    @using (Html.BeginForm("LogOff", "Account"))
                    {
                        <input type="submit" class="btn btn-default" value="Log out" />
                    }
                    @using (Html.BeginForm("Delete", "Account"))
                    {
                        <input type="submit" class="btn btn-default" value="Delete Account" />
                    }
                    <li>@Html.ActionLink("Your Favorites", "Faves", "Movies")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                }            
            </ul>
            <ul id="nav-mobile" class="side-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Hello @User.Identity.Name!</p>

                    @using (Html.BeginForm("LogOff", "Account"))
                    {
                        <input type="submit" class="btn btn-default" value="Log out" />
                    }
                    @using (Html.BeginForm("Delete", "Account"))
                    {
                        <input type="submit" class="btn btn-default" value="Delete Account" />
                    }
                    <li>@Html.ActionLink("Your Favorites", "Faves", "Movies")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                }
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    @Html.ActionLink("Manage Movies", "Index", "Movies")

    @RenderBody()

    <!-- Compiled and minified jQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
