
@model CultureClub.Models.Movie
@using CultureClub.Models
@using System.Security.Claims

@{
    ViewData["Title"] = "Movie - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
<p>@Html.DisplayNameFor(model => model.Director): @Html.DisplayFor(model => model.Director)</p>
<p>@Html.DisplayNameFor(model => model.Year): @Html.DisplayFor(model => model.Year)</p>
<p>@Model.AverageRating(Model.MovieId)</p>
<hr />

@if (User.Identity.IsAuthenticated)
{
    //TODO: Disable this if they've rated the movie
    <h2>Add a Rating</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.MovieId)
        @Html.DropDownList("Rating",
                            new SelectList(Enum.GetValues(typeof(ScoreNumber))),
                            "Select Star Rating")

        <input type="submit" value="Rate This" class="btn btn-default" />
    }
}
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) | @Html.ActionLink("Back to List", "Index")</p>