
@model CultureClub.Models.Movie
@using CultureClub.Models
@using System.Security.Claims

@{
    ViewData["Title"] = "Movie - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Movie Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
    <p>@Html.DisplayNameFor(model => model.Director): @Html.DisplayFor(model => model.Director)</p>
    <p>@Html.DisplayNameFor(model => model.Year): @Html.DisplayFor(model => model.Year)</p>
    <p>Average Rating: @Model.AverageRating(Model.MovieId)</p>
    <hr />
</div>
@if (User.Identity.IsAuthenticated && !Model.IsRatedByCurrentUser(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
{
    //TODO: Disable this if they've rated the movie
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.MovieId)
      //TODO: Use Icon stars in the select
            <div class="input-field">
                @Html.DropDownList("Rating",
                            new SelectList(Enum.GetValues(typeof(ScoreNumber))),
                            "Select Star Rating")
            </div>
            <input type="submit" value="Rate This" class="btn" />
        }

    </div>
}

<div class="row">
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }, new { @class = "btn" }) | @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn" })</p>
</div>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>