
@model CultureClub.Models.Movie
@{
    ViewData["Title"] = "Movie - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Traits of MovieId @Html.DisplayFor(model => model.MovieId)</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MovieId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Director)
    @Html.EditorFor(model => model.Director)

    @Html.LabelFor(model => model.Year)
    @Html.EditorFor(model => model.Year)

    <input type="submit" value="Save" class="btn btn-primary" />
}

@Html.ActionLink("Back to List", "Index")