@using System.Security.Claims

@model IEnumerable<CultureClub.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Movies You Love</h2>
    <hr />
</div>
<div class="row">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Your Rating
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => movie.Title)
                </td>
                <td>
                    @for (int i = 0; i < movie.CurrentUserRating(User.FindFirst(ClaimTypes.NameIdentifier)?.Value, movie.MovieId); i++)
                    {
                       <i class="material-icons">star</i>
                    }
                    @for (int i = 0; i < 5 - movie.CurrentUserRating(User.FindFirst(ClaimTypes.NameIdentifier)?.Value, movie.MovieId); i++)
                    {
                        <i class="material-icons">star_border</i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => movie.Director)
                </td>
                <td>
                    @Html.DisplayFor(model => movie.Year)
                </td>
                <td>
                    @Html.ActionLink("Related Movies", "FaveRelated", new { id = movie.MovieId }, new { @class = "btn" })
                </td>
            </tr>
        }
    </table>
</div>