@model IEnumerable<CultureClub.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @*TODO: Get the title of the movie here. Restructure the model to do it.*@
<div class="row">
    <h2>Movies Related to THE MOVIE YOU SELECTED</h2>
    <hr />
</div>
<div class="row">
    @if (Model.Count() > 0)
    {
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th></th>
            </tr>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => movie.Director)
                    </td>
                    <td>
                        @Html.DisplayFor(model => movie.Year)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = movie.MovieId })
                        @Html.ActionLink("Details", "Details", new { id = movie.MovieId })
                        @Html.ActionLink("Delete", "Delete", new { id = movie.MovieId })
                    </td>*@
                </tr>
            }
        </table>
    }
    else
    {
       <h2>You seem to be the only person who likes this. How odd.</h2>
    }
</div>
<div class="row">
    @Html.ActionLink("Back to Favorite Movies", "Faves", new object { }, new { @class = "btn"})
</div>